* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
  font-size: 16px;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #ecf4fb 0%, #fbecec 50%, #ecfbf3 100%);
}

#limiter {
  height: 100dvh;
  width: 100dvw;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #ecf4fb 0%, #fbecec 50%, #ecfbf3 100%);
}

header,
footer {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 4%;
  align-items: flex-end;
}

header img {
  width: auto;
  max-height: 80%;
}

main {
  width: 100%;
  height: 88%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 90%;
  grid-template-areas: 'menu' 'gameBoard';
}

.menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 16px;
}

.mainMenu,
.gameStats {
  height: 50%;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.mainMenu button {
  width: 240px;
  border: unset;
  background-color: rgba(217, 71, 71, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

#gameBoard {
  height: 100%;
  width: 100%;
  grid-area: gameBoard;
  display: grid;
  background-color: #7d9ebb;
  justify-items: center;
  align-items: center;
}

.gameBoard2x2 {
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.gameBoard4x4 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.gameBoard6x6 {
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.gameBoard8x8 {
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.gameBoard10x10 {
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.flip-card {
  background-color: transparent;
  max-width: 100;
  height: 95%;
  aspect-ratio: 1 / 1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-inner img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  object-fit: contain;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  background-color: #ffa6a2;
  border: thick solid white;
  padding: 8%;
  transform: rotateY(180deg);
}